{% if articles %}
    {% for article in articles %}
        {# First item #}
        {% if loop.first %}
            {% if loop.length > 1 %}
                <section id="article-list">
                    <h2>Articles</h2>
                    <ol>
            {% endif %}
        {% endif %}
        {# other items #}
            <li><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a></li>
        {% if loop.length > 1 %}
            </ol>
            </section><!-- #article-list -->
        {% endif %}
    {% endfor %}
{% else %}
    No posts found.
{% endif %}
